body{
	background-image: url("./Imagens/Gelo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #bfe1ff;
}

#box{
	width: 100px; 
	height: 100px; 
	position: absolute;
	left: 200px; 
	top: 200px; 
}

img{
	width: 100px; 
	height: 100px; 
}